<nav class="container py-3 md:py-6">
  <div class="h-10 md:h-[55px] flex items-center">
  <a class="flex items-center" href="index.html">
    <img class="w-10 md:w-[53px] mr-6 md:mr-4" src="../assets/images/logo.png" alt="logo圖片">
    <p class="hidden lg:block mr-1 font-yeseva text-32">7TAO </p>
    <p class="hidden lg:block mr-12 font-serif font-bold">活動訂票網</p>
  </a>
    <input type="search" class="w-[168px] md:w-[280px] h-full" placeholder="探索活動">
    <button type="submit" class="px-3 md:px-4 h-full bg-primary border-2 border-primary group">
      <i class="icofont-search-1 text-secondary group-hover:text-danger"></i>
    </button>
    <div class="hidden md:block ml-auto">
      <ul class="flex">
        <li class="mr-6">
          <a class="hover:text-hover" href="#">
            <i class="icofont-ui-file"></i>
            REGISTER
          </a>
        </li>
        <li>
          <a class="hover:text-hover" href="#">
            <i class="icofont-ui-user"></i>
            LOGIN
          </a>
        </li>
      </ul>
    </div>
    <!-- 漢堡選單按鈕 -->
    <div class="block md:hidden ml-auto">
      <button class="menuBtn text-center border rounded border-primary">
        <img class="w-[53px]" src="../assets/images/hambergerbutton.png" alt="">
      </button>
    </div>
  </div>
</nav>
    <!-- 漢堡選單內容 -->
    <div class="container">
      <ul class="menu overflow-hidden max-h-0 transition-all duration-500 ease-linear">
        <li class="mb-2">
          <a class="hover:text-hover" href="#">
            <i class="icofont-ui-file"></i>
            REGISTER
          </a>
        </li>
        <li class="mb-2">
          <a class="hover:text-hover" href="#">
            <i class="icofont-ui-user"></i>
            LOGIN
          </a>
        </li>
      </ul>
    </div>