<div class="container py-3 md:py-6">
  <div class="header flex items-center">
    <img class="logo-img mr-6 md:mr-4" src="../assets/images/logo.png" alt="">
    <p class="hidden lg:block">7TAO </p>
    <p class="hidden lg:block mr-12">活動訂票網</p>
    <input type="search" class="h-full" placeholder="探索活動">
    <button type="submit" class="px-3 md:px-4 h-full bg-primary border-2 border-primary group">
      <i class="icofont-search-1 text-secondary group-hover:text-danger"></i>
    </button>

    <!-- 漢堡選單按鈕 -->
    <div class="block md:hidden ml-auto">
      <button class="text-center border rounded border-primary">
        <img width="53" src="../assets/images/hambergerbutton.png" alt="">
      </button>
    </div>
    <!-- 漢堡選單內容 -->
    <div class="hidden md:block ml-auto">
      <ul class="flex">
        <li class="mr-6">
          <a class="hover:text-hover" href="#">
            <i class="icofont-ui-file"></i>
            REGISTER
          </a>
        </li>
        <li>
          <a class="hover:text-hover" href="#">
            <i class="icofont-ui-user"></i>
            LOGIN
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>